.chat-box-container {
  padding-top: 15px;
  position: relative;
  /* display: flex;
  flex-direction: column; */
  /* overflow: auto; */
}

.chat-box-container .tooltip {
  position: absolute;
  height: 30px;
  width: 140px;
  line-height: 30px;
  text-align: center;
  background-color: darkblue;
  color: white;
  border-radius: 7px;
  right: 10px;
  top: -16px;
}

.chat-box-container .message-box {
  /* flex: 1; */
  height: 180px;
  padding: 5px 0;
  margin-bottom: 5px;
  overflow: auto;
}

/* antd 列表样式局部修改*/
.chat-box-container .message-box .ant-list-sm .ant-list-item {
  padding: 3px 8px;
}
